<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="launch page">
    <meta name="author" content="m.w.r">

    <title>Cover Template for ToshiTicket</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body background="static/27025.jpg">

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">ToshiTicket</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/explore">Explore</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Welcome to ToshiTicket</h1>
            <p class="lead">The fast, easy, and secure way to buy and sell tickets on the Bitcoin Blockchain.</p>
            <p class="lead">
              <a href="/login" class="btn btn-lg btn-default">Sign in here</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Sign in with your <a href="{{auth_url}}">Coinbase</a> account</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "static/js/bootstrap.min.js"></script>
  </body>
</html>
