{% extends "template.html" %}
{% block body %}
<body background="static/Grey-White-Wallpaper-29.jpg">
  <center>
    <div class = "container">
    <h1>My Tickets</h1>
    <br>
      <div class = "row">
        {% for asset in my_assets %}
            <div class = "col-md-6">
                <div class="list-group">
                  <a href="#" class="list-group-item"><h3>Issuing Address: {{ asset.issuing_address }}</h3></a>
                  <a href="#" class="list-group-item"><h3>Color Name: {{ asset.color_name }}</h3></a>
                  <a href="#" class="list-group-item"><h3>Color Address: {{ asset.color_address }}<h3></a>
                  <a href="#" class="list-group-item"><h3>Number of Tickets: {{ asset.quantity }}</h3></a>
                </div>
              {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}</p>
              {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
  </center>
</body>

{% endblock %}