{% extends "template.html" %}
{% block body %}
<body>
  <center>
    <div class = "container">
    <h1>My Tickets</h1>
    <br>
      <div class = "row">
        <h3>My Address: {{ my_address }}</h3>
        {% for tx in utxos %}
          <h3>My Ticket ID: {{tx.assets.assetId}}</h3>
          <h3>Tickets I Own: {{tx.assets.amount}}</h3>
          <br>
          {% endfor %}
          <br>
          {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
      </div>
    </div>
  </center>
</body>

{% endblock %}
