{% extends "template.html" %}
{% block body %}
<body>

    <div class="container">
      <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Sign Up</h2>
        <br>
        <input type="text" class="form-control" name="username" value="{{request.form.username}}" placeholder="Email address" required autofocus>
        <br>
        <input type="text" class="form-control" name="public_address" value="{{request.form.public_address}}" placeholder="Public Address" required>
        <br>
        <input type="password" class="form-control" name="account_password" value="{{request.form.account_password}}" placeholder="Password" required>
        <br>
        <input type="password" class="form-control" name="confirm_password" value="{{request.form.confirm_password}}" placeholder="Confirm Password" required>
        <br>
        <button class="btn btn-lg btn-custom btn-block" type="submit">Sign Up</button>
        <br>
        <a href="/login">Login Here</a>
      </form>
    </div>

  </body>
{% endblock %}
